*{
    font-family: '8BIT WONDER', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}


body {
    background-image: url("Wallpaper.jpeg");
    background-size:auto;
}

.add-button, .delete-button, .update-button {
    text-align: left;
    font-size: 14px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 6px 5px 7px #000000;
    padding: 10px 25px;
    border-radius: 40px;
    border: 0px solid #3866A3;
    background: #1AB6EE;
    background: linear-gradient(to top, #ff91008d, #ac50f7a3);
    margin-bottom: 1%;
}

#add-button:hover, #delete-button:hover, #update-button:hover {
    color: #14396A !important;
    background: #BCCFCE;
    background: linear-gradient(to top, #BCCFCE, #A2E6EE);
}




body {
  font: 1rem/1.5 var(--bs-font-monospace);
}


.titleColumn .title-main-btn {
  width: 100%;
}



.assigned-to {
  font-size: 0.6rem
}

.date-time-stamp {
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

